.idea/*
*.pyc
*.txt
data\ letters~
Workbench.py
*.sh~
saved_data/*

!.gitignore
!saved_data/counters_reset_copy.py
!saved_data/Parser.py
!saved_data/PlotLib.py
!saved_data/fix-dgw-log.py
!saved_data/PlotLibHpcRecallData.py
!saved_data/ThreeDBarPlot.py
!saved_data/AggregateFigurePlots.py
!saved_data/BaselineAvgs.py
